@model FDevs.Models.Video
@{
    ViewData["Title"] = "Vídeos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col mx-auto">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-success shadow-secondary border-radius-lg pt-4 pb-3">
                    <h5 class="text-white text-capitalize ps-3">@ViewData["Title"]</h5>
                    <h6 class="text-white text-capitalize ps-3">Detalhes</h6>
                </div>
            </div>
            <div class="card-body pb-2">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="input-group input-group-outline mb-1">
                            <label asp-for="Titulo" for="floatingInput" class="form-label"></label>
                            <input asp-for="Titulo" class="form-control" rows="5"readonly>
                        </div>
                        <span asp-validation-for="Titulo" class="text-danger text-sm"></span>
                    </div>
                    <div class="col-8 mb-3">
                        <div class="input-group input-group-outline mb-1">
                            <label asp-for="URL" for="floatingInput" class="form-label"></label>
                            <input asp-for="URL" class="form-control" rows="5"readonly>
                        </div>
                        <span asp-validation-for="URL" class="text-danger text-sm"></span>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="input-group input-group-outline">
                            <label asp-for="ModuloId" class="form-label"></label>
                            <select asp-for="ModuloId" class="form-control" asp-items="ViewBag.ModuloId" disabled>
                            </select>
                        </div>
                        <span asp-validation-for="ModuloId" class="text-danger text-sm"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success me-2">Alterar</a>
                    <a asp-action="Index" class="btn btn-info">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>