@model FDevs.Models.Curso
@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col mx-auto">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-success shadow-secondary border-radius-lg pt-4 pb-3">
                    <h5 class="text-white text-capitalize ps-3">@ViewData["Title"]</h5>
                    <h6 class="text-white text-capitalize ps-3">Detalhes</h6>
                </div>
            </div>
            <div class="card-body pb-2">
                <div class="row">
                    <div class="col-lg-8 col-md-9">
                        <div class="row">
                            <div class="col-8 mb-3">
                                <div class="input-group input-group-outline mb-1">
                                    <label asp-for="Nome" for="floatingInput" class="form-label"></label>
                                    <input asp-for="Nome" class="form-control" rows="5">
                                </div>
                                <span asp-validation-for="Nome" class="text-danger text-sm"></span>
                            </div>
                            <div class="col-4 mb-3">
                                <div class="input-group input-group-outline">
                                    <label asp-for="TrilhaId" class="form-label"></label>
                                    <select asp-for="TrilhaId" class="form-control"
                                        asp-items="ViewBag.TrilhaId"></select>
                                </div>
                                <span asp-validation-for="TrilhaId" class="text-danger text-sm"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 d-flex justify-content-center">
                        <img id="preview" src='@(Model.Foto ?? Url.Content("~/img/sem-foto.jpg"))' class="w-55"
                            alt="Foto" title="Foto">
                        <input type="hidden" asp-for="Foto">
                        <input type="file" id="Arquivo" name="Arquivo" hidden
                            accept=".jpg, .png, .webp, .jpeg, .gif, .jfif">
                    </div>
                    <div class="mb-3">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success me-2">Alterar</a>
                        <a asp-action="Index" class="btn btn-info">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>