@model FDevs.Models.Usuario
@{
    ViewData["Title"] = "Meu perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row">
    <div class="col mx-auto">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-success shadow-secondary border-radius-lg pt-4 pb-3">
                    <h5 class="text-white text-capitalize ps-3">@ViewData["Title"]</h5>
                    <h6 class="text-white text-capitalize ps-3">Alterar</h6>
                </div>
            </div>
            <div class="card-body pb-2">
                <form asp-action="EditConfirmed" method="post" class="row" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UsuarioId" />
                    <div class="row">
                        <div class="col-lg-8 col-md-9">
                            <div class="col-12 mb-3">
                                <div class="input-group input-group-outline mb-1">
                                    <label asp-for="Nome" for="floatingInput" class="form-label"></label>
                                    <input asp-for="Nome" class="form-control" rows="5">
                                </div>
                                <span asp-validation-for="Nome" class="text-danger text-sm"></span>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="input-group input-group-outline mb-1 focused is-focused">
                                    <label asp-for="DataNascimento" for="floatingInput" class="form-label"></label>
                                    <input asp-for="DataNascimento" type="date" class="form-control" rows="5">
                                </div>
                                <span asp-validation-for="DataNascimento" class="text-danger text-sm"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 d-flex justify-content-center">
                            <img id="preview" src="@(ViewBag.User.Foto != null ? ViewBag.User.Foto : "~/img/Usuarios/no-icon.png")" class="w-55 rounded" alt="Foto" title="Foto"
                                onclick="changeImage()">
                            <input type="file" id="Arquivo" name="Arquivo" hidden
                                accept=".jpg, .png, .webp, .jpeg, .gif, .jfif">
                        </div>
                    </div>

                    <div class="mt-3">
                        <input type="submit" value="Salvar" class="btn btn-success me-3" />
                        <a asp-action="Index"asp-controller="Home" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function changeImage() {
            document.querySelector('input[type="file"]').click();
        }

        window.addEventListener('load', function () {
            document.querySelector("input[type='file']")
                .addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        var img = document.getElementById("preview");
                        img.src = URL.createObjectURL(this.files[0]);
                    }
                });
        })
    </script>
}
